.nav{
    width: 215vh;
    display: flex;
    position: fixed;
    top: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    box-shadow: 2px 2px 2px lightgray;
    margin-left: 5px;
    margin-right: 5px;
}

.logo{
    width: 100vh;
    font-size: 40px;
    color: blue;
    margin-left: 20px;
    font-family:"Courier";
}

.logoimage{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}
