.doctorlist{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-left: 250px;
    margin-top: 100px;
}

.search{
    width: 250px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    position: fixed;
}

.search:hover{
    border-style: solid;
    border-width: 2px;
    border-color: blue;
}

.doctorlist3{
    width: 180vh;
    display:grid;
    grid-template-columns: 150px 300px 200px;
    margin-top:5px;
}

.head{
    font-size:18px;
}

.doctorlist2{
    width:80vw;
    margin-top: 70px;
    overflow-y: scroll;
    height: 70vh;
    position: fixed;
}

.image{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 30px;
    margin-bottom: 5px;
}

.name{
    font-size:20px;
    color: blue;
    margin-top:20px;
}

.name:hover{
    text-decoration: underline;
}

.text{
    font-size: 15px;
}

.status{
    font-size: 18px;
    margin-left: 400px;
    color: green;
    margin-top: 30px;
}

.status2{
    color: red;
}

.load{
    margin-top: 300px;
    margin-left: 500px;
}